@use "../../styles" as common;

:host {
  /**
  * @prop --dct-button-height: button height
  */
  --dct-button-height: 40px;
  /**
  * @prop --dct-button-height: width of ion button
  */
  --dct-button-width-icon: 40px;
}

:host(.button-container) {
  @include common.mixins-default-layout();
  
  display: block;
  overflow: hidden;
  height: var(--dct-button-height);
  width: auto;
  position: relative;

  button {
    @include common.mixins-default-button();

    display: inline-flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;

    width: 100%;
    height: 100%;

    &.disabled {
      pointer-events: none;
      ::slotted(*) {
        color: common.$colors-disabled !important;
      }     
    }
  }
}

:host(.disabled) {
  pointer-events: none;
  ::slotted(*) {
    color: common.$colors-disabled !important;
  }     
}

:host(.icon) {
  border-radius: 50%;
  width: var(--dct-button-width-icon);

  ::slotted(*) {
    font-size: 24px !important;
  }
}
