@use 'colors';
@use 'components';
@use 'typography';

@mixin default-layout() {
  box-sizing: border-box;
  color: colors.$text;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: typography.$letter-spacing;
  line-height: typography.$line-height;
  text-decoration: inherit;
  text-indent: inherit;
  text-overflow: inherit;
  text-transform: inherit;
  text-align: inherit;
  white-space: inherit;
}

@mixin default-button() {
  border: none;
  background: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  padding-block: 0;
  padding-inline: 0;
  pointer-events: auto;
}

@mixin common-text($letter-spacing, $line-height) {
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

@mixin hover-event() {
  &:host(:hover:not(.disabled)) {
    background-color: colors.$background-hover;
  }
}

@mixin host-disabled() {
  &:host(.disabled) {
    background-color: colors.$background-disabled;
    pointer-events: none;
  }
}

@mixin heading() {
  padding-top: components.$header-padding-top;
  padding-right: components.$header-padding-right;
  padding-bottom: components.$header-padding-bottom;
  padding-left: components.$header-padding-left;
}
