@use 'colors';
@use 'typography';

@mixin default-layout() {
  box-sizing: border-box;
  color: colors.$text;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: typography.$letter-spacing;
  line-height: typography.$line-height;
  text-decoration: inherit;
  text-indent: inherit;
  text-overflow: inherit;
  text-transform: inherit;
  text-align: inherit;
  white-space: inherit;
}

@mixin common-text($letter-spacing, $line-height) {
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

@mixin hover-event() {
  &:host(:hover:not(.disabled)) {
    background-color: colors.$background-hover;
  }
}

@mixin host-disabled() {
  &:host(.disabled) {
    background-color: colors.$background-disabled;
    pointer-events: none;
  }
}

@mixin heading() {
  padding: 0.5rem 1.4rem 0.5rem 1rem;
}
