@use '../../styles' as common;

:host(.card-container) {
  @include common.mixins-default-layout();
  @include common.mixins-host-disabled();

  border-radius: 0.75rem;
  contain: content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  width: auto;

  > a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    width: 100%;
  }

  ::slotted(img) {
    aspect-ratio: 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    height: 100%;
    object-fit: fill;
    object-position: center;
    max-width: 100%;
    // text-size-adjust: 100%;
    width: 100%;
  }
}

:host(.disabled) {
  ::slotted(img) {
    opacity: 0.5;
  }
}

:host(.card-elevated) {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

:host(.card-outlined) {
  border-color: common.$colors-card-border-color;
  border-style: solid;
  border-width: 1px;
}
