@use '../../styles' as common;

:host(.card-container) {
  @include common.mixins-default-layout();
  border-radius: 0.75rem;
  contain: content;
  display: block;
  overflow: hidden;
  height: auto;
  width: auto;

  ::slotted(img) {
    aspect-ratio: 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    height: 100%;
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    text-size-adjust: 100%;
    width: 100%;

    // position: relative;
  }
}

:host(.card-elevated) {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}

:host(.card-outlined) {
  border-bottom-color: common.$colors-accordian-border-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}
