@use '../../styles' as common;

:host(.card-container) {
  @include common.mixins-default-layout();
  border-radius: 0.75rem;
  contain: content;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  ::slotted(img) {
    display: block;
    height: 100%;
    object-fit: inherit;
    object-position: inherit;
    width: 100%;
    max-width: 100%;
  }

  .card-content-container {
    padding: 1rem;
    width: 100%;
    display: block;
    slot[name='title'] {
      display: block;
    }

    slot[name='content'] {
      display: block;
      padding-top: 2rem;
      padding-bottom: 2rem;
      font-size: common.$typography-font-size-small;
      letter-spacing: common.$typography-letter-spacing-small;
      line-height: common.$typography-line-height-small;
    }
  }
}

:host(.card-elevated) {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
}
