@use '../../styles' as common;

:host {
  /**
  * @prop --dct-card-header-padding-left: card content padding left
  */
  --dct-card-header-padding-left: 1rem;
  /**
  * @prop --dct-card-header-padding-right: card content padding right
  */
  --dct-card-header-padding-right: 1rem;
  /**
  * @prop --dct-card-header-padding-padding-top: card content padding top
  */
  --dct-card-header-padding-top: 1rem;
  /**
  * @prop --dct-card-header-padding-padding-bottom: card content padding bottom
  */
  --dct-card-header-padding-bottom: 1rem;
}

:host(.card-header) {
  @include common.mixins-default-layout();
  @include common.mixins-host-disabled();
  
  align-items: center;
  align-self: stretch;
  display: flex;
  font-weight: common.$typography-font-weight-bold;
  padding-left: var(--dct-card-header-padding-left);
  padding-right: var(--dct-card-header-padding-right);
  padding-top: var(--dct-card-header-padding-top);
  padding-bottom: var(--dct-card-header-padding-bottom);

  .heading {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 1;
    flex-direction: column;
    font-weight: common.$typography-font-weight-bold;
    justify-content: center;

    slot[name='sub-heading'] {
      color: common.$colors-secondary;
      font-size: common.$typography-font-size-small;
      font-weight: common.$typography-font-weight-bold;
      letter-spacing: common.$typography-letter-spacing-small;
      line-height: common.$typography-line-height-small;
    }
  }
  
  .icon {
    display: inline-block;
    transition: transform common.$animate-transition-duration
      common.$animate-transition-easing;
    &.disabled {
      ::slotted(*) {
        color: common.$colors-disabled !important;
      }
    }
  }
  .icon slot[name='start'],
  slot[name='end'] {
    align-items: center;
    display: flex;
    height: common.$components-icon-height;
    width: common.$components-icon-width;
    justify-content: center;
    overflow: hidden;

    transition: transform common.$animate-transition-duration
      common.$animate-transition-easing;
  }
  .icon:first-of-type {
    margin-right: 1rem;
  }
  .icon:last-of-type {
    margin-left: 1rem;
  }
}

:host(.overlay) {
  $content-height: var(--dct-card-header-padding-top) + var(--dct-card-header-padding-bottom);
  background: linear-gradient(to bottom, transparent -10%, common.$colors-color-gray-900 100%);
  bottom: 0;
  color: common.$colors-text-white;
  left: 0;
  position: absolute;
  top: calc(100% - #{$content-height});
  width: 100%;
}

:host(.card-small) {
  slot[name='sub-header'] {
    display: none;
  }
}

:host(.disabled) {
  color: common.$colors-disabled;
  .heading {
    slot[name='sub-header'] {
      color: common.$colors-disabled;
    }
  }
}
