@use '../../styles' as common;

:host(.carousel-container) {
  @include common.mixins-default-layout();

  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: auto;
  width: auto;
  position: relative;
  touch-action: none;
  scroll-snap-type: x mandatory;

  .carousel-header-footer {
    @include common.mixins-default-button();
    @include common.mixins-hover-event();
    @include common.mixins-heading();

    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: relative;
    transition: transform common.$animate-transition-duration
      common.$animate-transition-easing;

    &.footer {
      justify-content: flex-end;
    }

    .content {
      align-items: center;
      display: flex;
      transition: transform common.$animate-transition-duration
        common.$animate-transition-easing;

      &.footer {
        .icon {
          opacity: 0;
          transition: opacity common.$animate-transition-duration
            common.$animate-transition-easing;
        }
      }
    }

    .icon slot[name='icon'] {
      align-items: center;
      display: flex;
      height: common.$components-icon-height;
      width: common.$components-icon-width;
      justify-content: center;
      overflow: hidden;
      margin-left: common.$components-header-padding-left;
      transition: transform common.$animate-transition-duration
        common.$animate-transition-easing;
    }

    &.display-all {
      .icon slot[name='icon'] {
        transform: rotate(180deg);
      }
    }
  }
  .carousel-header-footer:has(.footer) {
    &.display-all {
      transform: translateX(
        calc(-1 * ((100% - 2rem) - common.$components-icon-width))
      );

      .icon {
        opacity: 1;
      }
    }
  }
  .carousel-header-footer:not(:has(.footer)) {
    &.display-all {
      .content {
        transform: translateX(
          calc(-1 * ((100% + 0.5rem) - common.$components-icon-width))
        );
      }
    }
  }

  .carousel {
    display: flex;
    row-gap: 16px;
    width: auto;
    height: auto;
    box-sizing: content-box;
    position: relative;
    touch-action: pan-x; // manipulation;

    &.display-all {
      flex-wrap: wrap;
    }
  }

  ::slotted(dct-card) {
    flex-shrink: 0;
    border-radius: 28px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    transition: flex-basis 500ms ease;
    // transition: transform common.$animate-transition-duration
    // common.$animate-transition-easing;
  }

  ::slotted(dct-card:hover) {
    transform: scale(1.04);
  }
}
