@use '../../styles' as common;

:host(.card-title) {
  @include common.mixins-default-layout();
  display: block;
  padding: 1rem;

  slot[name='sub-title'] {
    display: block;
    font-size: common.$typography-font-size-small;
    letter-spacing: common.$typography-letter-spacing-small;
    line-height: common.$typography-line-height-small;
  }
}

:host(.overlay) {
  position: absolute;
  top: 75%;
  left: 0;
  bottom: 0;
  width: 100%;
  color: common.$colors-text-white;
  background: linear-gradient(to bottom, transparent -10%, common.$colors-color-gray-900 100%);
}
