@use '../../styles' as common;

:host {
  /**
  * @prop --dct-accordion-padding-letf: accordion content padding left
  */
  --dct-accordion-left: 0.5rem;
  /**
  * @prop --dct-accordion-padding-right: accordion content padding right
  */
  --dct-accordion-right: 0.5rem;
  /**
  * @prop --dct-accordion-padding-top: accordion content padding top
  */
  --dct-accordion-top: 1rem;
  /**
  * @prop --dct-accordion-padding-bottom: accordion content padding bottom
  */
  --dct-accordion-bottom: 1rem;
}

:host(.accordion-container) {
  @include common.mixins-default-layout();
  @include common.mixins-hover-event();
  @include common.mixins-host-disabled();
  
  display: flex;
  flex-direction: column;
  background: common.$colors-accordion-background;

  .accordion-heading {
    width: 100%;
    @include common.mixins-default-button();
  }

  .accordion-content {
    overflow: hidden;
    will-change: max-height;
    width: 100%;
    transition: max-height common.$animate-transition-duration
      common.$animate-transition-easing;

    .accordion-content-slot {
      display: flex;
      overflow: auto;
      flex-direction: column;
      justify-content: center;
      padding-left: var(--dct-accordion-padding-left);
      padding-right: var(--dct-accordion-padding-right);
      padding-top: var(--dct-accordion-padding-top);
      padding-bottom: var(--dct-accordion-padding-bottom);
    }
  }
}

:host(.accordion-container.icon-start) {
  .accordion-content {
    .accordion-content-slot {
      // padding-left: calc(1.5rem + common.$components-icon-width);
    }
  }
}

:host(.accordion-container:focus:not(.disabled)) {
  background: common.$colors-background-focus;
  border-color: common.$colors-border-focus;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

:host(.collapsed) {
  .accordion-content {
    max-height: 0;
  }
}
:host(:not(:last-of-type).disabled),
:host(:not(:last-of-type):not(:focus)) {
  .accordion-divider {
    display: none;
    &.active {
      display: inline-flex;
      align-self: center;
      border-bottom-color: common.$colors-accordion-border-color;
      border-bottom-style: solid;
      border-bottom-width: 1px;

      &.full {
        width: 100%;
      }

      &.partial {
        width: 75%;
      }
    }
  }
}
