$icon-width: var(--dct-icon-width, 32px);
$icon-height: var(--dct-icon-height, 32px);

$header-padding-top: var(--dct-header-padding-top, 0.5rem);
$header-padding-right: var(--dct-header-padding-right, 1.4rem);
$header-padding-bottom: var(--dct-header-padding-bottom, 0.5rem);
$header-padding-left: var(--dct-header-padding-left,  1rem);
